<div {{bind-attr style=popoverStyle class=":popover popoverPosition popoverDisplayed:show"}}>
  <div class="arrow" {{bind-attr style=popoverArrowStyle}}></div>
  <div class="popover-content">

    <ul class="list-group">
      {{#each labels}}
        <li class="list-group-item" {{action 'selectLabel' this}}>
          {{fullName}}
        </li>
      {{/each}}
    </ul>

    <form {{action 'createLabel' newLabelName on='submit'}}>
      <div class="input-group">
        {{input value=newLabelName class="form-control" placeholder="New label"}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Create</button>
        </span>
      </div>
    </form>

  </div>
</div>

<div {{action 'dismiss'}}>
  {{#each paragraphs}}
    {{view 'paragraph' paragraph=this activeSelections=selections tagName=tagName}}
  {{/each}}
</div>