<div class="container-fluid" id="project-index">
  <div class="row" >
    <div class="col-md-4">

      <div class="form-group">
        {{input value=name class="form-control input-lg" placeholder="Label color" id="inputLabelColor"}}
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Documents
          {{link-to 'Add a document' 'project.newDocument' class="btn btn-xs btn-primary pull-right"}}
        </div>
        <ul class="list-group">
          {{#each documents}}
            <li class="list-group-item">
              {{link-to title 'document' this}}
              <button class="btn btn-default btn-xs delete-btn pull-right" {{action 'deleteDocument' this}}>Delete</button>
              <button class="btn btn-default btn-xs pull-right" {{action 'editDocument' this}}>Edit</button>
            </li>
          {{else}}
            <li class="list-group-item">
              No documents yet, add one!
            </li>
          {{/each}}
        </ul>
      </div>

      {{link-to 'Back' 'projects' class="btn btn-default"}}
      <button class="btn btn-primary" {{action 'saveProject'}}>Save</button>

    </div>
  </div>
</div>