<div class="container-fluid">
  <div class="row" id="project-new-document">
    <div class="col-md-6">
      <form {{action 'save' this on='submit'}}>
        <div class="form-group">
          {{input value=title class="form-control" placeholder="Document title"}}
        </div>

        Paste the content of the document here:
        {{view 'contenteditable' value=text}}

        <div class="btn-toolbar">
          {{link-to 'Cancel' 'project.index' class="btn btn-default"}}

          {{#if isProcessing}}
            <button class="btn btn-primary" type="submit" disabled="disabled">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              &nbsp;Processing
            </button>
          {{else}}
            <button class="btn btn-primary" type="submit">Save</button>
          {{/if}}

        </div>
      </form>
    </div>
  </div>
</div>