<div class="container-fluid">
  <div class="row" id="project-new-document">
    <div class="col-md-6">
      <form {{action 'save' this on='submit'}}>
        <div {{bind-attr class=":form-group showErrors::hide-error errors.title:has-error"}}>
          {{input value=title class="form-control" placeholder="Document title"}}
        </div>

        <div {{bind-attr class=":form-group showErrors::hide-error errors.text:has-error"}}>
          <label class="control-label">
            Paste the content of the document here:
          </label>
          {{view 'contenteditable' value=text class="form-control"}}
        </div>

        <div class="btn-toolbar">
          {{link-to 'Cancel' 'project.index' class="btn btn-default"}}

          {{#if isProcessing}}
            <button class="btn btn-primary" type="submit" disabled="disabled">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              &nbsp;Processing
            </button>
          {{else}}
            {{#if showErrors}}
              <button class="btn btn-danger">Error</button>
            {{else}}
              <button class="btn btn-primary" type="submit">Save</button>
            {{/if}}
          {{/if}}

        </div>
      </form>
    </div>
  </div>
</div>