<div id="labels">
  <div class="pane labels-pane">
    {{#each categories}}
      <div class="category-item">
        {{name}}
        <button {{action 'deleteCategory' this}} class="btn btn-default btn-xs pull-right delete-btn">Delete</button>
      </div>
      {{#each labels}}
        {{#link-to 'label' this class="label-item" tagName="div"}}
          {{name}}
          <span class="badge pull-right">{{selections.length}}</span>
        {{/link-to}}
      {{/each}}
    {{/each}}

    {{#if categories}}
      {{#if singleLabels}}
        <div class="category-item">Single labels</div>
      {{/if}}
    {{/if}}
    {{#each singleLabels}}
      {{#link-to 'label' this class="label-item" tagName="div"}}
        {{name}}
        <span class="badge pull-right">{{selections.length}}</span>
      {{/link-to}}
    {{else}}
      {{#unless categories}}
        <div class="label-item" ><em>No labels yet</em></div>
      {{/unless}}
    {{/each}}
  </div>
  <div class="pane label-pane">
    {{outlet}}
  </div>
</div>