<div id="labels">
  <div class="pane labels-pane">

    <div class="inner">
      {{#each categories}}
        <div class="category-item">
          {{name}}
          <button {{action 'deleteCategory' this}} class="btn btn-default btn-xs pull-right delete-btn">Delete</button>
          <button {{action 'editCategory' this}} class="btn btn-default btn-xs pull-right edit-btn">Edit</button>
        </div>
        {{#each sortedLabels}}
          {{label-item label=this editLabel="editLabel"}}
        {{/each}}
      {{/each}}

      {{#if categories}}
        {{#if singleLabels}}
          <div class="category-item">Single labels</div>
        {{/if}}
      {{/if}}
      {{#each singleLabels}}
        {{label-item label=this editLabel="editLabel"}}
      {{else}}
        {{#unless categories}}
          <div class="label-item" ><em>No labels yet</em></div>
        {{/unless}}
      {{/each}}
    </div>

    <div class="btn-toolbar" role="toolbar">
      <button class="btn btn-xs btn-default" {{action 'newCategory'}}>New Category</button>
      <button class="btn btn-xs btn-default" {{action 'newLabel'}}>New Label</button>
    </div>

  </div>
  <div class="pane label-pane">
    {{outlet}}
  </div>
</div>