<div id="label">
  <div class="pane selections-pane">
    {{#each selections}}
      {{#link-to 'selection' this class="selection-item" tagName="div"}}
        {{text}}
        <button {{action 'moveSelection' this}} class="btn btn-default btn-xs pull-right move-btn">Move</button>
        <span class="document-title">{{document.title}}</span>
      {{/link-to}}
    {{else}}
      <div class="selection-item" ><em>This label has no selection</em></div>
    {{/each}}
  </div>
  <div class="pane document-pane">
    {{outlet}}
  </div>
</div>